body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

canvas {
  border: 2px solid #333;
}

.controls {
  margin-top: 20px;
}

button,
input {
  margin: 5px;
}
